<!DOCTYPE html>

<html>
    <head>
        <title>Ruby on Rails</title>
        <style>
            
        </style>
    </head>
    <body>
        <h1>This is my about page</h1>
    </body>
</html>
<%= link_to 'home', root_path %>