<!DOCTYPE html>
<html>
    <head>
        <title>Ruby on Rails</title>
        <style>
        </style>
    </head>
    <body>
        <h1>This is the home page of my blog</h1>
    </body>
</html>
<%= link_to 'Alpha-blog', articles_path %> | <%= link_to 'About', about_path %>