$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 25px;
    color: #fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-weight:bold;
}
#logo:hover{
    color:fff;
    text-decoration: none;
}
.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('background1.png');
    background-size: cover;
    height: 550px;
}
.jumbotron h1{
    color: #fff;
    text-align:center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}
.btn-xlarge{
    background-color: black;
    font-size:25px;
    border-color:black;
}
.btn-xlarge:hover{
    background-color:gray;
    border-color:black;
}
.article-actions{
    border-top:1px solid #e8e8e8;
    padding-top:5px;
}
.description{
    margin-top:0;
}
.article-title{
    font-weight:bold;
    font-size:20px;
}
.article-body{
    border-top:1px solid #e8e8e8;
    padding-top:15px;
    padding-bottom:15px;
}
.footer{
    margin-top:45px;
    border-top: 1px solid #e8e8e8;
    padding-top: 5px;
    color: #777;
}
.footer small{
    float:left;
}
.footer ul{
    float:right;
    list-style:none;
}
.footer ul li{
    margin-left:15px;
    float:left;
}
