<div class="container">
    <div class="footer">
        <small>
            Copyright &copy; <a href = "https://www.udemy.com">The complete Ruby on rails course</a>
            by <a href = "http://test-alpha-blog-harini.herokuapp.com/">Harini Garre</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Contact Us", "#" %></li>
            </ul>
        </nav>
    </div>
</div>